module.exports = {
    siteName: '/var/log/derrick.log'
  , siteDescription: 'The blog of Derrick Weis'
  , siteAuthor: 'Derrick Weis'
  , database: 'blog_development'
  , theme: 'darkness'
  , baseUrl: 'http://localhost:3000/'
  , sessionSecret: 'CHOOSE A SESSION SECRET'
  , airbrakeKey: 'YOUR AIRBRAKE KEY'
  , airbrakeEnabled: false
  , adCode: '' // Put your ad html/js here
  , analyticsCode: '' // Put your analytics html/js here
  , fbAppId: 'YOUR FACEBOOK APP ID'
  , fbAppSecret: 'YOUR FACEBOOK APP SECRET'
  , fbCallbackAddress: 'http://localhost:3000/auth/facebook'
  , appPort: 3000
  , appIp: '127.0.0.1'
  , appWorkers: 4
}
